@use 'base/variables' as v;
@use 'base/mixins' as m;

.hidden{
    opacity: 0;
    height: 0;
    width: 0;
    visibility: hidden;
    pointer-events: none;

}

.displayNone{
    display: none;
}
.overflowHidden{
    overflow: hidden;
    @include m.tablet {
        overflow: unset;
    }
}

.nav-option{
    display: contents;
    @include m.tablet {
        display: none;
    }
}
.left-53{
    left: 53px;
}