@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario-account{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    width: 85%;
    @include m.tablet {
        width: 80%;
    }
    h4{
        margin: 3rem auto;
        &:first-of-type{
            margin-top: 0;
        }
    }
    .close-account{
        text-align: center;
        margin-bottom: 2rem;
    }
}

.campo-account {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include m.tablet {
        flex-direction: row;
        margin-bottom: 2rem;
    }
    label{
        margin-left: 2rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        @include m.tablet {
            flex-direction: row;
            align-items: center;
            margin: 0;
            width: 22rem;
        }
    }
    &:last-of-type{
        margin-bottom: 3rem;
    }
}

.campo-checkbox{
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    label{
        width: 100%;
    }
    input{
        width: auto;
        margin-bottom: 1rem;
    }
    &:last-of-type{
        margin-bottom: 3rem;
    }
}