@use 'base/variables' as v;
@use 'base/mixins' as m;

header {
    background: rgb(0, 0, 0);

    padding: 1rem 0 0;
    background: linear-gradient(90deg, rgba(0, 12, 18, 1) 0%, rgba(0, 12, 18, 0.6855336735757549) 50%, rgba(0, 12, 18, 1) 100%);
    
    position: sticky;
    backdrop-filter: blur(5px);
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem 0;
    @include m.telefono {
        margin: 0;
    }
    img {
        width: 5rem;
    }

    .logo__txt {
        color: v.$blanco;

        span {
            font-family: v.$fuente_principal;
            color: v.$verde;
        }
    }
}
.open-menu {
    filter: invert(100%);
}


.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    align-items: flex-start;
}

.open-menu, .close-menu{
    img{
        max-width: 2.5rem;
        margin: 0 auto;
        cursor: pointer;
    }
}

.log-header{
    a{
        @include m.boton(transparent, v.$verde, block);
        margin: 0;
        @include m.telefono {
            margin: .5rem 0;
        }
    }
    .logout{
        @include m.boton(transparent, v.$rojo, block);
        margin: 0;
        @include m.telefono {
            margin: .5rem 0;
        }
    }
}
.menu{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: 1.4rem 0;
}

.navegacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    align-items: center;
    height: 27rem;
    transition: all .3s linear;
    .close-menu{
        margin-bottom: 2rem;
    }
    a{
        color: v.$blanco;
        transition: color .3s linear;
        text-align: center;
        &:hover{
            color: v.$verde;
        }   
    }
}